:root {
    --main-color: #8e44ad;
    --red: #e74c3c;
    --orange: #f39c12;
    --white: #fff;
    --black: #2c3e50;
    --light-color: #888;
    --light-bg: #eee;
    --border: 0.1rem solid rgba(0, 0, 0, 0.2);

}

*::selection {
    background-color: var(--main-color);
    color: #fff;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

body {
    background-color: var(--light-bg);
}

.header {
    background-color: var(--white);
    border-bottom: var(--border);
}

.header-icon {
    background: none;
}

.header .flex .icons div {
    color: var(--black);
    background-color: var(--light-bg);
}

.header .flex .icons div:hover {
    color: var(--white);
    background-color: var(--black);
}
