@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    font-family: Nunito, Poppins, Verdana, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
      font-size: 62.5%;
      overflow-x: hidden;
}

.header .flex .logo {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

.header .flex .icons div {
    font-size: 2rem;
    line-height: 4.4rem;
    text-align: center;
}