@import url(colors.css);

.header .flex .search-form {
    width: 50rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    background-color: var(--light-bg);
}

.header .flex .search-form input {
    width: 100%;
    background: none;
    font-size: 2rem;
    color: var(--black);
}

.header .flex .search-form button {
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}