* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}

*::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}

section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header-icon {
    width: 20px;
    height: 20px;
}

.header .flex {
    padding: 1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .icons div {
    border-radius: 0.5rem;
    height: 4.5rem;
    width: 4.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

#search-btn {
    display: none;
}



